#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.product-title{
  font-size: 20px;
}

.productItem span, .productItem b{
  display: inline-block;
  text-align: start;
}

.itemId{width: 30%;}
.itemName{width: 50%;}
.itemPrice{width: 10%;}
.itemBrand{width: 10%;}

.productItem{
  border-bottom: 1px solid #232323;
}

.productItem:first-child{
  list-style-type: none;
}

.pagination{
  margin: 20px 0 40px 0;
}

.pagination > *{
  display: flex;
  list-style: none;
  gap: 9px;
  font-size: 20px;
  justify-content: center;
}

.pagination li{
  cursor: pointer;
}

.pagination .selected a {
  color: #232323;
}

.Loader{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  background: rgba(0, 0, 0, .2);
  justify-content: center;
  align-items: center;
  position: fixed;
  display: none;
}

.Loader--active{
  display: flex !important;
}

.filter{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-size: 16px;
  margin-bottom: 15px;
}

.filter input{
  padding: 2px 4px;
  font-size: 14px;
}